.vscode/
Assembly-CSharp.csproj
Assets/AnimationControllers.meta
Assets/AnimationControllers/
Assets/PolygonWar.meta
Assets/PolygonWar/
Assets/Scenes.meta
Assets/Scenes/
Assets/Scripts.meta
Assets/Scripts/SimpleCharacterController.cs.meta
Learning-character-controller-01.sln
Library/
Logs/
Packages/
ProjectSettings/
UserSettings/
gitignore
obj/